---
- name: Delete iptables
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    flush: yes

- name: Accept Local
  ansible.builtin.iptables:
    chain: INPUT
    in_interface: lo
    jump: ACCEPT

- name: Setup allowed ports
  ansible.builtin.iptables:
    chain: INPUT
    match: state
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT

- name: Setup allowed ports
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_port: "{{ item }}"
    jump: ACCEPT
  loop: "{{ iptables_allowed_ports }}"

- name: Deny all other
  ansible.builtin.iptables:
    chain: INPUT
    jump: DROP

- name: Save iptables
  ansible.builtin.template:
    src: iptables.rules.j2
    dest: "{{ iptables_rules_path }}"
    mode: '0644'
  notify: Restore iptables rules
